.operation {
    display: flex;
    padding: 15px;
    background-color: rgb(42, 42, 45);
    border-radius: 15px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.h{
    text-align: left;
}