.calculator {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background-color: rgb(42, 42, 45);
    padding: 10px 15px;
    border-radius: 15px;
}

h1 {
    text-align: center;
}

.rulesDiv{
    color: rgb(175, 180, 184);
}

input {
    width: 82%;
    padding: 10px 15px;
    margin: 5px 0;
    font-size: 18px;
    border: 1px solid rgb(94, 189, 165);
    background-color: transparent;
    border-radius: 7px;
    color: rgb(205, 211, 216);
}

form {
    width: 100%;
  display: flex;
  justify-content: space-between;
}